<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta charset="utf-8">
   <title><?= $title ?></title>
   <?= $_scripts ?>
   <?= $_styles ?>
</head>
<body>
   
   <div id="content">
      <div id="header">
         <?= $header ?>
      </div>
      <?php print $content ?>
      <div id="footer">
         <?= $footer ?>
      </div>
   </div>
      <div id="sidebar">
         <?= $sidebar ?>
      </div>
   
         
   
</body>
</html>