
#wrapper { margin:auto; width:1200px; border:0px solid black; box-shadow:inset 0 0 10px; text-align: center; margin-top: 50px; height: 500px; }
#items { top: 20px; position: relative; margin: 20px; }


.span2 { background: #55A; }
.span10 { background: #33A; }


input[type=text] { width: 350px; height: 25px; }